In [1]:
items=['bread','pasta','fruits']
print(items[0])

print(items[-1:])

items.append('butter')
print(items)

bread
['fruits']
['bread', 'pasta', 'fruits', 'butter']

In [2]:
#how to add 2 lists
mitems=['guuter','sutter','mutter']

gitems=items+mitems
print(gitems)

['bread', 'pasta', 'fruits', 'butter', 'guuter', 'sutter', 'mutter']

In [3]:
len(items)

4

In [5]:
'chicken' in items

False

In [6]:
'guuter' in mitems

True

In [7]:
#measure total distance from new york to baltimore to pittsburg
nyc_bal=188
bal_pitt=247
total_dist=nyc_bal+bal_pitt
print(total_dist)

435

In [8]:
mph=65
time=total_dist/mph
print(time)

6.6923076923076925

In [9]:
print(round(time,2))

6.69

In [10]:
print(10+2*3)

16

In [1]:
text="ice cream"
print(text)

ice cream

In [2]:
print(text[0])

i

In [4]:
text[0]='g'

TypeError: 'str' object does not support item assignment

In [5]:
print(text[0:3])

ice

In [6]:
print(text[4:])

cream

In [8]:
text1= """dfjkl
dljfsjfflj """

In [9]:
print(text1)

dfjkl
dljfsjfflj

In [10]:
#how to join a string with int
s='total states in usa #'
num=25
print(s + str(num))

total states in usa #25

In [11]:
type(num)

int

In [12]:
type(s)

str

In [14]:
item1='rent'
item2='gas'
item3='groceries'
print("Expense items",item1,item2,item3)

Expense items rent gas groceries

In [15]:
height=10
base=4
area=(height*base)*(1/2)
print("The area of triangle is",area)

The area of triangle is 20.0

In [2]:
key_location= 'chair'
locations=['table','chair','garage','hall']

In [3]:
for i in locations:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [10]:
for i in locations:
    if i == key_location:
        print("key is found on :",i)
        break
    else:
        print("key is not there on:",i)

key is not there on: table
key is found on : chair

In [9]:
for i in locations:
    if i==key_location:
        print("Key is found in ",i)
        break
    else:
        print("Key is not found in",i)

Key is not found in table
Key is found in  chair

In [18]:
# print square of numbers between 1 to 10 except even numbers
for i in range(1,10,2):
    print(i*i)

1
9
25
49
81

In [20]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i*i)

1
9
25
49
81

In [2]:
for i in range(1,11):
    if i%2!=0:
        print(i*i) 
    continue

1
9
25
49
81

In [6]:
print(" ")
j=i
print(j,end=" ") 
print(i*i)

10 100

In [8]:
exp = [2340, 2500, 3200, 5309, 3233]

In [11]:
total = 0

for i in exp:
    total += i
print("Total expense is :",total)

Total expense is : 16582

In [10]:
#Problem:Store monthly expenses in a list and find out total expenses for all months
exp = [2340, 2500, 3200, 5309, 3233]

#total = exp[0] + exp[1] + exp[2] + exp[3] + exp[4]

#print("The total expenses in all January to may is",total)
total=0
# for exp in exp:
#     total=exp+total
# print("The total expense is",total)

# print month number and expense and then in the end print total expense
for i in range(len(exp)):
    print("Month",(i+1),"Expense",exp[i])
    total=exp[i]+total
print("The total expesne is",total)

Month 1 Expense 2340
Month 2 Expense 2500
Month 3 Expense 3200
Month 4 Expense 5309
Month 5 Expense 3233
The total expesne is 16582